<form class="labrats__form" data-labrats-form="partnership" novalidate>
  <div class="labrats__form-grid">
    {% include projects/sdlabrats/field.html form="partnership" name="company" label="Company name" required=true autocomplete="organization" wide=true %}
    {% include projects/sdlabrats/form-parts.html part="name" form="partnership" %}
    {% include projects/sdlabrats/field.html form="partnership" name="job_title" label="Title" required=true autocomplete="organization-title" %}
    {% include projects/sdlabrats/field.html form="partnership" name="email" label="Business email" type="email" required=true autocomplete="work email" %}
  </div>
  {% include projects/sdlabrats/form-parts.html part="trap" form="partnership" %}
  {% include projects/sdlabrats/form-parts.html part="submit" label="Request information" %}
</form>
